<h1 class="mt-2">Characters</h1>

<select
  class="form-select"
  aria-label="Default select example"
  (change)="onChange($event)"
>
  <option selected value="">Select a house</option>
  <option *ngFor="let house of listHouse" [value]="house.name">
    {{ house.name | titlecase }}
  </option>
</select>

<div *ngIf="(listCharacters$ | async)?.length > 0">
  <app-table [listData]="listCharacters$ | async"></app-table>
</div>

<div class="d-flex align-items-center" *ngIf="loading">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
