<h1>Staff</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Gender</th>
      <th>House</th>
      <th>Age</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let character of listCharacters$ | async"
    >
      <td>{{ character.name }}</td>
      <td>{{ character.species }}</td>
      <td>
        {{ character.gender }}
      </td>
      <td>
        {{ character.house }}
      </td>
      <td>
        {{ character.yearOfBirth }}
      </td>

      <td>
        {{ character.image }}
      </td>
    </tr>
  </tbody>
</table>