<!-- <nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img
        src="assets/img/hp.png"
        class="mr-15"
        width="150px"
        alt="Harry Potter Logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of items">
          <a
            class="nav-link"
            [routerLink]="[item.link]"
            routerLinkActive="active"
            >{{ item.label }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<mat-toolbar color="white">
  <span>
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/img/hp.png"
        class="mr-15"
        width="150px"
        alt="Harry Potter Logo"
      />
    </a>
  </span>
  <span class="example-spacer"></span>
  <button
    mat-button
    *ngFor="let item of items"
    routerLinkActive="active-link"
    [routerLink]="[item.link]"
  >
    {{ item.label }}
  </button>
  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <button
    mat-icon-button
    class="example-icon"
    routerLink="/"
    aria-label="Example icon-button with menu icon"
  >
    <!-- <mat-icon>logout</mat-icon> -->
  </button>
</mat-toolbar>

<!-- <mat-toolbar fxLayout="row" color="primary">
  <span fxFlex>Responsive Toolbar Demo</span>
  <button mat-button *ngFor="let item of menuItems"
      fxShow="item.showOnDesktop"
      fxShow.xs="item.showOnMobile"
      fxShow.sm="item.showOnTablet">
      <mat-icon class="mr">{{item.icon}}</mat-icon>
      {{item.label}}
  </button>
  <ng-container>
      <button mat-icon-button >
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
          <ng-container *ngFor="let item of menuItems">
              <div fxShow="!item.showOnDesktop"
                   fxShow.sm="!item.showOnTablet"
                   fxShow.xs="!item.showOnMobile">
                  <button mat-menu-item>
                      <mat-icon class="mr">{{item.icon}}</mat-icon>
                      {{item.label}}
                  </button>
                  <mat-divider></mat-divider>
              </div>
          </ng-container>
      </mat-menu>
  </ng-container>
</mat-toolbar> -->
